.vc-settings-tab-bar {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-subtle);
}

.vc-settings-tab-bar-item {
    margin-right: 32px;
    padding-bottom: 16px;
    margin-bottom: -2px;
}

.vc-settings-donate {
    display: flex;
    flex-direction: row;
}

.vc-settings-discordinvite {
    display: flex;
    flex-direction: row;
}

.vc-settings-card {
    padding: 1em;
    margin-bottom: 1em;
}

.vc-settings-card-buttons {
    display: flex;
    margin-top: 1.5em;
    gap: 0.5em;
}

.vc-warning-card {
    padding: 1em;
    background: var(--background-feedback-warning);
    border: 1px solid var(--text-status-idle);
    color: var(--text-status-idle);
}

.vc-backup-restore-card {
    background-color: var(--background-feedback-warning);
    border-color: var(--text-status-idle);
    color: var(--text-status-idle);
}

.vc-cloud-settings-sync-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 16px;
}

.vc-cloud-erase-data-danger-btn {
    color: var(--control-critical-primary-text-default);
    background-color: var(--control-critical-primary-background-default);
}

.vc-cloud-icon-with-button {
    display: flex;
    gap: 0.5em;
    padding-inline: 0.5em 1em;
}

.vc-cloud-button-icon {
    height: 1.25em;
}